body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color
}
.welcome-alert {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #ddf2eb; /* Soft green background */
    color: #2a6041; /* Dark green text */
    border: 1px solid #b8e0d2;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}
